html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* -- FOOTER -- */

.footer-link {
    color: rgba(255,255,255,0.5);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: .715rem;
    padding-bottom: .715rem;
}

.before-footer {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* -- CONTAINERS -- */
.index-container {
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.gallery-container {
    height: 60vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.sky-container{
    background: url('/static/img/sky.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.amibo-container{
    background: url('/static/img/amibo.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lego-container{
    background: url('/static/img/lego.jpg') no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* -- IMAGES -- */

.photoset-preview-image {
    height: 200px;
    width: 100%;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.cart-preview-image {
    height: 2.5em;
    width: 5em;
    display: block;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
}


@media (min-width: 992px) {

}