{% extends "base.html" %}

{% block page_title %}Shop{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="col-12">
        <div class="row">
            <h1>Shop</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="row">
	{% for photoset in photosets %}
		<div class="col-4">
			<a href="{% url 'photoset_detail' photoset.id %}"><div class="card border-primary mb-3">
				<h3 class="card-header">{{ photoset.title }}</h3>
				<div class="photoset-preview-image" style="background-image: url('{{ MEDIA_URL }}{{ photoset.preview_image }}')" alt="Card image"></div>
                <div class="card-body">
					<p class="card-text">{{ photoset.description|truncatewords:10 }}</p>
				</div>
				<div class="card-body">
					<div class="card-text">£ {{ photoset.price }}</div>
					<a href="{% url 'add_to_cart' photoset.id %}" class="btn btn-danger btn-sm">Add to cart</a>
				</div>
				<div class="card-footer text-muted">
					{{ photoset.published_date }}
				</div>
			</div></a>
		</div>
	{% endfor %}
    </div>
</div>
{% endblock %}