{% extends "base.html" %}

{% block page_title %}{{ photoset.title }}{% endblock %}

{% block content %}

<!-- PAGE TITLE -->
<div class="container mt-4">
    <div class="col-12">
        <div class="row">
            <h1>{{ photoset.title }}</h1>
        </div>
    </div>
</div>
<!-- /PAGE TITLE -->

<!-- PHOTOSET CARD -->
<div class="container mt-4 before-footer">
    <div class="row">
		<div class="col-12">
			<div class="card border-primary mb-3">
				<div class="photoset-preview-image" style="background-image: url('{{ MEDIA_URL }}{{ photoset.preview_image }}')"></div>
                <div class="card-body">
					<p class="card-text">{{ photoset.description }}</p>
				</div>
				<div class="card-body">
					<div class="card-text">£ {{ photoset.price }}</div>
					<a href="{% url 'add_to_cart' photoset.id %}" class="btn btn-danger btn-sm">Add to cart</a>
				</div>
				<div class="card-footer text-muted">
					{{ photoset.published_date }}
				</div>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="{% url 'shop' %}" class="btn btn-primary mb-2">Back to Shop</a>
        </div>
    </div>
</div>
<!-- PHOTOSET CARD -->

{% endblock %}