{% extends "base.html" %}

{% load bootstrap_tags %}

{% block page_title %}Login Page{% endblock%}

{% block content %}

<div class="container mt-4">
    <div class="col-12">
        <div class="row">
            <h1>Login</h1>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="col-12">
        <div class="row">
            <form method="POST">
            {% csrf_token %}
            {{ login_form | as_bootstrap }}
            <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>

<div class="container mt-4">
    <div class="col-12">
        <div class="row">
            <p>Don't have an account yet? You can register below!</p>
        </div>
        <div class="row">
            <a href="{% url 'registration' %}" class="btn btn-primary">Register</a>
        </div>
    </div>
</div>

{% endblock %}
