{% extends "base.html" %}

{% block page_title %}{{ user }}'s Profile{% endblock%}

{% block content %}

<!-- NAV PILLS -->
<div class="container mt-4">
	<div class="col-12">
		<div class="row">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link active" href="{% url 'profile' %}">Account Details</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'orders' %}">Orders</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'downloads' %}">Downloads</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- /NAV PILLS -->

<!-- PAGE TITLE -->
<div class="container mt-4">
	<div class="col-12">
		<div class="row">
			<h1>{{ user }}'s Profile</h1>
		</div>
	</div>
</div>
<!-- /PAGE TITLE -->

<!-- PROFILE DETAILS -->
<div class="container mt-4 before-footer">
	<div class="col-12">
		<div class="row">
			<h5>Email</h5>
		</div>
        <div class="row">
			<p>{{ profile.email }}</p>
		</div>
        <div class="row">
			<h5>Username</h5>
		</div>
        <div class="row">
			<p>{{ profile.username }}</p>
		</div>
	</div>
</div>
<!-- /PROFILE DETAILS -->

{% endblock %}