{% extends "base.html" %}
{% load bootstrap_tags %}
{% block page_title %}Cart{% endblock %}

{% block content %}

<!-- PAGE TITLE -->
<div class="container mt-4">
	<div class="col-12">
		<div class="row">
			<h1>Cart</h1>
		</div>
	</div>
</div>
<!-- /PAGE TITLE -->

<!-- CART TABLE -->
<div class="container mt-4 before-footer">
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Remove</th>
					<th scope="col">Photoset</th>
					<th scope="col">Price</th>
				</tr>
			</thead>
			<tbody>
				{% for item in cart_items %}
                <tr>
					<th scope="row"><a href="{% url 'remove_from_cart' item.id %}" class="remove-from-cart">X</a></th>
					<td>{{ item.photoset.title }}</td>
					<td>£ {{ item.photoset.price }}</td>
				</tr>
                {% endfor %}
				<tr class="table-secondary">
					<th scope="row"></th>
					<td>Cart Total: </td>
					<td>£ {{ total }}</td>
				</tr>
			</tbody>
		</table>
        <a href="{% url 'checkout' %}" type="button" class="btn btn-success ml-3 mb-2">Checkout</a>
	</div>
</div>
<!-- /CART TABLE -->

{% endblock %}
