{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>
    <!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="{% url 'index' %}">Tierney Photography</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

		<div class="navbar-collapse collapse" id="navbarColor01" style="">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'index' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'shop' %}">Shop</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="{% url 'new_photoset' %}">Admin</a> -->
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                <li class="nav-item">
					<a class="nav-link" href="{% url 'profile' %}">Account</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
                {% else %}
                <li class="nav-item">
					<a class="nav-link" href="{% url 'login' %}">Login</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="{% url 'registration' %}">Register</a>
				</li>
                {% endif %}
			</ul>
            <ul class="navbar-nav inline my-2 my-lg-0">
                <li class="nav-item">
					<a class="nav-link" href="{% url 'view_cart' %}"><i class="fas fa-shopping-cart fa-lg"></i> Cart ({{ photoset_count }})</a>
				</li>
            </ul>
		</div>
	</nav>
    <!-- /NAVBAR -->

    <!-- MESSAGES -->
    {% if messages %}
    <div class="alert alert-success" role="alert">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
    {% endif %}
    <!-- /MESSAGES -->

    <!-- PAGE-CONTENT -->
    {% block content %}

    {% endblock %}
    <!-- /PAGE-CONTENT -->

    <!-- FOOTER -->

    <!-- /FOOTER -->

	<!-- SCRIPTS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<!-- /SCRIPTS -->
</body>

</html>